<template>
	<div id="wrap">
		<div id="header">
			<div class="current-time-wrap">
				현재 시간: <span class="current-time">HH:MM:DD</span>
			</div>
		</div>
		<div id="contents">
			<div class="alarming">
				<p>[ㅇㅇㅇ] 알람이 작동중입니다.</p>
				<p>[ㅇㅇㅇ1] 알람이 작동중입니다.</p>
				<p>[ㅇㅇㅇ2] 알람이 작동중입니다.</p>
			</div>
			<div id="alarm-info">
				<div>
					<label>Title</label>
					<input type="text" name="title">
				</div>
				<div>
					<label>시간</label>
					<input type="number" class="input-time" min="0" max="23" name="hour">
					<input type="number" class="input-time" min="0" max="59" name="minute">
					<input type="number" class="input-time" min="0" max="59" name="second">
				</div>
				<div>
					<label>메모</label>
					<textarea name="memo"></textarea>
				</div>
				<div>
					<button class="btn btn_lightgreen">신규</button>
					<button class="btn btn_green">등록</button>
					<button class="btn btn_blue">수정</button>
					<button class="btn btn_red">삭제</button>
				</div>
			</div>
			<div id="alarm-list">
				<!-- <div class="alarm-item">
					<div class="item-header">
						<span class="title">alarm 1</span>
						<span class="time">00:00:00</span>
					</div>
					<div class="item-contents">
						<p class="memo">memomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemo</p>
					</div>
				</div> -->
				<!-- <div class="alarm-item selected">
					<div class="item-header">
						<span class="title">alarm 2</span>
						<span class="time">00:00:00</span>
					</div>
					<div class="item-contents">
						<p class="memo">memomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemomemo</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>
<script>
export default {
	//
}
</script>
<style scoped>
#wrap {
	padding: 10px;
	overflow-y: 0;
}
#header, .alarming, #alarm-info, #alarm-list {
	border: 1px solid #888;
	border-radius: 5px;
	margin: 10px 0;
}
/* header */
.current-time-wrap {
	font-size: 36px;
}
.current-time {
  font-family: fantasy;
}
/* alarming */
.alarming {
	padding: 5px;
}
.alarming p {
	margin: 2px 0;
}

/* form */
#alarm-info {
	padding: 10px 5px;
}
#alarm-info label {
	display: inline-block;
	width: 100px;
}
#alarm-info input, #alarm-info textarea {
	height: auto;
	border-radius: 5px;
	border: 1px solid #aaa;
	font-size: 24px;
}
#alarm-info input[type=text]{
	width: calc(100% - 150px + 4px);
}
#alarm-info textarea {
	width: calc(100% - 150px);
}
#alarm-info input.input-time {
	width: calc((100% - 150px) / 3);
}
button.btn {
	border: none;
	width: 60px;
	padding: 5px 0;
	margin: 0 5px;
}
button.btn_lightgreen {
	background-color: #29ff89;
}
button.btn_green {
	background-color: green;
	color: white;
}
button.btn_blue {
	background-color: skyblue;
	color: black;
}
button.btn_red {
	background-color: red;
	color: white;
}
button.btn_yellow {
	background-color: #ffff00;
	color: black;
}
button.btn.disabled {
	cursor: not-allowed;
	background-color: rgba(100, 100, 100, 0.3);
	color: black;
}

/* list */
#alarm-list .alarm-item {
	text-align: left;
	padding: 10px;
	margin: 5px;
	border: 1px solid #bbb;
}
#alarm-list .alarm-item .item-header {
	display: flex;
	justify-content: space-between;
}
#alarm-list .alarm-item span {
	display: inline-block;
}
#alarm-list .alarm-item .title {
	width: 100px;
}
#alarm-list .alarm-item .time {
	width: 70px;
}
#alarm-list .alarm-item .memo {
	margin: 10px 0;
	overflow: hidden;
	/* overflow-wrap: break-word; */
	text-overflow: ellipsis;
}
#alarm-list .alarm-item.selected {
	background-color: #cef;
}
</style>
