<template>
	<div id="wrap">
		<div id="header">
			<div class="current-time-wrap">
				현재 시간: <span class="current-time">{{ getNowHour }}:{{ getNowMinute }}:{{ getNowSecond }}</span>
			</div>
		</div>
		<div id="contents">
			<div class="alarming" v-if="getAlarmingList.length">
				<p v-for="(d, i) in getAlarmingList" :key="'a'+i">[{{ d.title }}] 알람이 작동중입니다.</p>
			</div>
			<div id="alarm-info">
				<div>
					<label>Title</label>
					<input type="text" name="title" v-model="currentItem.title">
				</div>
				<div>
					<label>시간</label>
					<input type="number" class="input-time" min="0" max="23" name="hour" v-model="currentItem.hour">
					<input type="number" class="input-time" min="0" max="59" name="minute" v-model="currentItem.minute">
					<input type="number" class="input-time" min="0" max="59" name="second" v-model="currentItem.second">
				</div>
				<div>
					<label>메모</label>
					<textarea name="memo" v-model="currentItem.memo"></textarea>
				</div>
				<div>
					<button :class="{ 'btn': true, 'btn_lightgreen': true, 'disabled': false }" :disabled="false" v-on:click="initItemForReg">신규</button>
					<button :class="{ 'btn': true, 'btn_green': true, 'disabled': !isRegister }" :disabled="!isRegister" v-on:click="regItem">등록</button>
					<button :class="{ 'btn': true, 'btn_blue': true, 'disabled': !isSelected }" :disabled="!isSelected" v-on:click="modItem">수정</button>
					<button :class="{ 'btn': true, 'btn_red': true, 'disabled': !isSelected }" :disabled="!isSelected" v-on:click="rmvItem">삭제</button>
				</div>
			</div>
			<div id="alarm-list" v-for="(d, i) in list" :key="i">
				<div :class="{ 'alarm-item': true, 'selected' : currentItemSeq === d.seq }"
					v-on:click="selectItem(d.seq)">
					<div class="item-header">
						<span class="title">{{ d.title }}</span>
						<span class="time">{{ d.time }}</span>
					</div>
					<div class="item-contents">
						<p class="memo">{{ d.memo }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
const lpad = (w) => {
	w = !w ? '' : w
	let pword = '00'
	let len = 2
	return (pword + w).substr(-1 * len, len)
}
const isAlarming = (now, time) => {
	const today = now.toISOString().match(/^([\d]{4}-[\d]{2}-[\d]{2})/)[1]
	const alarmTime = now.getTime()
	const startTime = new Date(today + 'T' + time).getTime()
	const endTime = new Date(today + 'T' + time).getTime() + 20000	/* 20초 뒤 */
	// console.log(`${new Date(alarmTime).toISOString()}`)
	// console.log(`${new Date(startTime).toISOString()} ~ ${new Date(endTime).toISOString()}`)
	return (alarmTime >= startTime && alarmTime < endTime)
}
export default {
	data() {
		return {
			timerIntervalId: -1,
			now: new Date(),
			isRegister: false,
			list: [],
			currentItemSeq: -1,
			currentItem: {}
			// list: [{
			// 	title: 'test-item',
			// 	time: '12:34:56',
			// 	memo: 'test입니다.1'
			// }, {
			// 	title: 'test-item2',
			// 	time: '23:32:10',
			// 	memo: 'test입니다.2'
			// }]
		}
	},
	computed: {
		getNowHour() {
			return lpad(this.now.getHours())
		},
		getNowMinute() {
			return lpad(this.now.getMinutes())
		},
		getNowSecond() {
			return lpad(this.now.getSeconds())
		},
		isSelected() {
			return this.currentItemSeq >= 0
		},
		getAlarmingList() {
			return this.list.filter(d => d.alarming === true)
		}
	},
	created() {
		const self = this
		const setTimer = () => {
			// 현재 시간 설정
			self.now = new Date()

			// 알람 여부 설정
			self.list.forEach((d, i) => {
				const alarming = isAlarming(self.now, d.time)
				if (alarming !== d.alarming) {
					d.alarming = alarming
					// array replace for update
					self.list.splice(i, 1, d)
				}
			})
		}
		self.timerIntervalId = setInterval((() => {
			return setTimer
		})(), 1000)
	},
	beforeDestroy() {
		clearInterval(self.timerIntervalId)
	},
	methods: {
		getSequence() {
			const seq = this.list.length
			return seq
		},
		getItem(seq) {
			const { list } = this
			// list.filter(function(d) {
			// 	return d.seq === seq
			// })
			const selectedItem = (list.filter(d => d.seq === seq) || [])[0]
			return selectedItem
		},
		getItemIndex(seq) {
			const { list } = this
			// list.filter(function(d) {
			// 	return d.seq === seq
			// })
			const selectedItemIndex = list.findIndex(d => d.seq === seq)
			return selectedItemIndex
		},
		selectItem(seq) {
			const _item = this.getItem(seq)
			let item = {}
			// clone
			Object.assign(item, _item)
			const { time } = item
			const timeInfo = time.match(/^([\d]{2}):([\d]{2}):([\d]{2})$/)
			item.hour = timeInfo[1]
			item.minute = timeInfo[2]
			item.second = timeInfo[3]
			this.currentItemSeq = item.seq
			this.currentItem = item
		},
		initItem() {
			this.currentItem = {}
			this.currentItemSeq = -1
			this.isRegister = false
		},
		initItemForReg() {
			const item = {
				title: 'new-item ' + (this.getSequence() + 1),
				hour: this.getNowHour,
				minute: this.getNowMinute,
				second: this.getNowSecond
			}
			this.currentItemSeq = -1
			this.$set(this, 'currentItem', item)
			this.isRegister = true
		},
		regItem() {
			// valid check
			// const currentItem = this.currentItem
			// const list = this.list
			const { currentItem, list } = this
			console.log(`title: ${currentItem.title}`)
			console.log(`time: ${lpad(currentItem.hour)}:${lpad(currentItem.minute)}:${lpad(currentItem.second)}`)
			console.log(`memo: ${currentItem.memo}`)
			if (!currentItem.title) {
				return
			}
			// const { title, memo } = currentItem
			// const time = `${lpad(currentItem.hour)}:${lpad(currentItem.minute)}:${lpad(currentItem.second)}`
			// const seq = this.getSequence()
			// const alarming = false
			// const newItem = { title, memo, time, seq, alarming }
			// console.log(newItem)
			// list.push(newItem)
			currentItem.seq = this.getSequence()
			currentItem.time = `${lpad(currentItem.hour)}:${lpad(currentItem.minute)}:${lpad(currentItem.second)}`
			currentItem.alarming = isAlarming(this.now, currentItem.time)
			delete currentItem.hour
			delete currentItem.minute
			delete currentItem.second
			list.push(currentItem)
			// clear
			this.initItem()
		},
		modItem() {
			// valid check
			// const currentItem = this.currentItem
			// const list = this.list
			const { currentItem, list } = this
			console.log(`title: ${currentItem.title}`)
			console.log(`time: ${lpad(currentItem.hour)}:${lpad(currentItem.minute)}:${lpad(currentItem.second)}`)
			console.log(`memo: ${currentItem.memo}`)
			if (!currentItem.title) {
				return
			}
			currentItem.time = `${lpad(currentItem.hour)}:${lpad(currentItem.minute)}:${lpad(currentItem.second)}`
			// currentItem.seq = this.getSequence()
			currentItem.alarming = isAlarming(this.now, currentItem.time)
			const seq = this.currentItemSeq
			const itemIndex = this.getItemIndex(seq)
			list[itemIndex] = currentItem
			// clear
			this.initItem()
		},
		rmvItem() {
			// check
			const seq = this.currentItemSeq
			const itemIndex = this.getItemIndex(seq)
			// remove
			this.list.splice(itemIndex, 1)
			// clear
			this.initItem()
		}
	}
}
</script>
<style scoped>
#wrap {
	padding: 10px;
	overflow-y: 0;
}
#header, .alarming, #alarm-info, #alarm-list {
	border: 1px solid #888;
	border-radius: 5px;
	margin: 10px 0;
}
/* header */
.current-time-wrap {
	font-size: 36px;
}
.current-time {
  font-family: fantasy;
}
/* alarming */
.alarming {
	padding: 5px;
}
.alarming p {
	margin: 2px 0;
}

/* form */
#alarm-info {
	padding: 10px 5px;
}
#alarm-info label {
	display: inline-block;
	width: 100px;
}
#alarm-info input, #alarm-info textarea {
	height: auto;
	border-radius: 5px;
	border: 1px solid #aaa;
	font-size: 24px;
}
#alarm-info input[type=text]{
	width: calc(100% - 150px + 4px);
}
#alarm-info textarea {
	width: calc(100% - 150px);
}
#alarm-info input.input-time {
	width: calc((100% - 150px) / 3);
}
button.btn {
	border: none;
	width: 60px;
	padding: 5px 0;
	margin: 0 5px;
}
button.btn_lightgreen {
	background-color: #29ff89;
}
button.btn_green {
	background-color: green;
	color: white;
}
button.btn_blue {
	background-color: skyblue;
	color: black;
}
button.btn_red {
	background-color: red;
	color: white;
}
button.btn_yellow {
	background-color: #ffff00;
	color: black;
}
button.btn.disabled {
	cursor: not-allowed;
	background-color: rgba(100, 100, 100, 0.3);
	color: black;
}

/* list */
#alarm-list .alarm-item {
	text-align: left;
	padding: 10px;
	margin: 5px;
	border: 1px solid #bbb;
}
#alarm-list .alarm-item .item-header {
	display: flex;
	justify-content: space-between;
}
#alarm-list .alarm-item span {
	display: inline-block;
}
#alarm-list .alarm-item .title {
	width: 100px;
}
#alarm-list .alarm-item .time {
	width: 70px;
}
#alarm-list .alarm-item .memo {
	margin: 10px 0;
	overflow: hidden;
	/* overflow-wrap: break-word; */
	text-overflow: ellipsis;
}
#alarm-list .alarm-item.selected {
	background-color: #cef;
}
</style>
